<template name = "mt_dashboard">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1>Keep in track of everything! {{totalPrice}}</h1>
			</div>
		</div>

<!-- 		<div id="chart"> {{createChart}} </div -->

		<div class="row">
			<div class="col-md-6">
				<canvas id="chartLineGraph" width="500" height="400"></canvas>
			</div>

			<div class="row">
				<div class="col-md-6">
					<canvas id="chartPieGraph" width="500" height="300"></canvas>
				</div>
			</div>
		</div>
	</div>
</template>