<template name="index">
	<div class="dark-opacity"></div>
	<div class="jumbotron-background-image"></div>

	<div class="container">
		<div class="jumbotron">
				<h1 class="text-center">iKeep</h1>
				<h3 style="margin-bottom: 20px;" class="text-center">iKeep keeps in track of your budget. Say no more goodbye to your money. </h3>
				<div class="col-md-4 text-center">
					<i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i> Keep Track
				</div>

				<div class="col-md-4 text-center">
					<i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i> Keep Organized
				</div>

				<div class="col-md-4 text-center">
					<i class="fa fa-line-chart fa-3x" aria-hidden="true"></i> Keep Economic
				</div>

				<div class="col-md-4 col-md-offset-5">
					<a style="margin-top: 20px;" href="/ikeep" class="margin-top btn btn-success btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> Get started</a>
				</div>
		</div>

		<article class="col-md-4">
			<h1> <i class="fa fa-calendar-check-o fa-lg"></i> Keep Track </h1>
			<ul>
				<li> Set a limit to your budget. </li>
				<li> Manage your family budget. </li>
				<li> Stop wasting your time with spreadsheets. </li>
			</ul>
		</article>

		<article class="col-md-4">
			<h1> <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Keep Organized</h1>
			<ul>
				<li>Full control of your work.</li>
				<li>Ease to navigate with no hesitations.</li>
				<li>Color coded by categories.</li>
			</ul>
		</article>

		<article class="col-md-4">
			<h1> <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i> Keep Economic</h1>
			<ul>
				<li>Spend your money more wisely</li>
				<li>Avoids from buying unecessary products</li>
				<li>Help yourself. Help your wallet.</li>
			</ul>
		</article>
	</div>
</template>
