<template name="index">
	<div class="jumbotron-backgorund-image"></div>

	<div class="container">
		<div class="jumbotron">
				<h1 class="text-center">iTrack</h1>
				<h3 class="text-center">iTrack keeps in track of your budget. Say no more goodbye for your money </h3>
				<div class="col-md-4">
					<i class="fa fa-calendar-check-o fa-5x"></i> Keep Track
				</div>

				<div class="col-md-4">
					<i class="fa fa-check-square-o fa-5x"></i> Keep Organized
				</div>

				<div class="col-md-4">
					<i class="fa fa-line-chart fa-5x"></i> Keep Economic
				</div>

				<div class="col-md-4 col-md-offset-5">
					<a href="/itrack" class="btn btn-success btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i> Get started</a>
				</div>
		</div>

		<article>
			<h1> <i class="fa fa-calendar-check-o fa-lg"></i> Keep Track </h1>
			<ul>
				<li> Set a limit to your budget. </li>
				<li> Manage your family budget. </li>
				<li> Stop wasting your time with spreadsheets. </li>
			</ul>
		</article>
	</div>
</template>
